/* Human Start */

.human_left {
	background: url(../images/characters/human_left.gif) no-repeat top left;
}

.human_left_back {
	background: url(../images/characters/human_left_back.gif) no-repeat top left;
}

.human_left_forward {
	background: url(../images/characters/human_left_forward.gif) no-repeat top left;
}

.human_up {
	background: url(../images/characters/human_up.gif) no-repeat top left;
}

.human_up_back {
	background: url(../images/characters/human_up_back.gif) no-repeat top left;
}

.human_up_forward {
	background: url(../images/characters/human_up_forward.gif) no-repeat top left;
}

.human_right {
	background: url(../images/characters/human_right.gif) no-repeat top left;
}

.human_right_back {
	background: url(../images/characters/human_right_back.gif) no-repeat top left;
}

.human_right_forward {
	background: url(../images/characters/human_right_forward.gif) no-repeat top left;
}

.human_down {
	background: url(../images/characters/human_down.gif) no-repeat top left;
}

.human_down_back {
	background: url(../images/characters/human_down_back.gif) no-repeat top left;
}

.human_down_forward {
	background: url(../images/characters/human_down_forward.gif) no-repeat top left;
}

/* Human End */

/* Hero Start */

.hero_left {
	background: url(../images/characters/hero_left.gif) no-repeat top left;
}

.hero_left_back {
	background: url(../images/characters/hero_left_back.gif) no-repeat top left;
}

.hero_left_forward {
	background: url(../images/characters/hero_left_forward.gif) no-repeat top left;
}

.hero_up {
	background: url(../images/characters/hero_up.gif) no-repeat top left;
}

.hero_up_back {
	background: url(../images/characters/hero_up_back.gif) no-repeat top left;
}

.hero_up_forward {
	background: url(../images/characters/hero_up_forward.gif) no-repeat top left;
}

.hero_right {
	background: url(../images/characters/hero_right.gif) no-repeat top left;
}

.hero_right_back {
	background: url(../images/characters/hero_right_back.gif) no-repeat top left;
}

.hero_right_forward {
	background: url(../images/characters/hero_right_forward.gif) no-repeat top left;
}

.hero_down {
	background: url(../images/characters/hero_down.gif) no-repeat top left;
}

.hero_down_back {
	background: url(../images/characters/hero_down_back.gif) no-repeat top left;
}

.hero_down_forward {
	background: url(../images/characters/hero_down_forward.gif) no-repeat top left;
}

/* Hero End */

/* Elf Start */

.elf_left {
	background: url(../images/characters/elf_left.gif) no-repeat top left;
}

.elf_left_back {
	background: url(../images/characters/elf_left_back.gif) no-repeat top left;
}

.elf_left_forward {
	background: url(../images/characters/elf_left_forward.gif) no-repeat top left;
}

.elf_up {
	background: url(../images/characters/elf_up.gif) no-repeat top left;
}

.elf_up_back {
	background: url(../images/characters/elf_up_back.gif) no-repeat top left;
}

.elf_up_forward {
	background: url(../images/characters/elf_up_forward.gif) no-repeat top left;
}

.elf_right {
	background: url(../images/characters/elf_right.gif) no-repeat top left;
}

.elf_right_back {
	background: url(../images/characters/elf_right_back.gif) no-repeat top left;
}

.elf_right_forward {
	background: url(../images/characters/elf_right_forward.gif) no-repeat top left;
}

.elf_down {
	background: url(../images/characters/elf_down.gif) no-repeat top left;
}

.elf_down_back {
	background: url(../images/characters/elf_down_back.gif) no-repeat top left;
}

.elf_down_forward {
	background: url(../images/characters/elf_down_forward.gif) no-repeat top left;
}

/* Elf End */