html, body {
	margin: 0;
	padding: 0;
	background: #000;
}

body, table, a {
	font-family: Verdana;
	font-size: 8pt;
}

#contain-map {
	width: 640px;
	height: 480px;
	border: 1px solid #444;
	margin: 150px auto;
	overflow: hidden;
	background: #000;
}

#map {
	width: 3000px;
	height: 3000px;
	position: relative;
	display: none;
}

#loading-display {
	width: 640px;
	height: 480px;
	position: absolute;
	z-index: 1;
	background: #000;
	text-align: center;
}

#loading-spinner {
	width: 120px;
	height: 68px;
	margin: 206px auto;
}

#loading-spinner, #loading-spinner a {
	color: #fff;
}

.player-title {
	position: absolute;
	margin-left: -27px;
	width: 75px;
	text-align: center;
	margin-top: -15px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	display: none;
}